<header>
	<div class="main-container">
		<div class="flex align-items-center mb-10">
			<a href="./index.html" class="flex flex-33" id="icon-container">
					<img id="icon" src="assets/images/biker_transparent.png" alt="icon">
					<h1><span style="color:  #38A9E4">B</span>ringa <span style="color:  #38A9E4">B</span>olt</h1>
			</a>
			<div class="flex flex-33" id="search-box">
				<input type="text" placeholder="Keresés...">
				<button><i class="fa fa-search fa-fw"></i></button>
			</div>
			<div class="flex flex-33 justify-content-end" id="user">
				<button id="login"><i class="fa fa-sign-in fa-fw"></i>Belépés</button>
				<button id="register"><i class="fa fa-shopping-cart fa-fw"></i>Kosár<span id="item-count"></span></button>
			</div>
		</div>
		<hr>
		<nav>
			<ul class="main-nav flex justify-content-between">
				<li>Kerékpár<i class="fa fa-caret-down fa-fw"></i>
					<ul class="sub-nav">
						<li>Országúti</li>
						<li>MTB</li>
						<li>Gyerek</li>
					</ul>
				</li>
				<li>Alkatrész<i class="fa fa-caret-down fa-fw"></i>
					<ul class="sub-nav">
						<li>Külső gumi</li>
						<li>Lánc</li>
					</ul>
				</li>
				<li>Kiegészítő<i class="fa fa-caret-down fa-fw"></i>
					<ul class="sub-nav">
						<li>Lámpa</li>
						<li>Lakat</li>
						<li>Pumpa</li>
						<li>Táska</li>
						<li>Kerékpárszállító</li>
					</ul>
				</li>
				<li>Ruházat<i class="fa fa-caret-down fa-fw"></i>
					<ul class="sub-nav">
						<li>Sisak</li>
						<li>Mez</li>
						<li>Nadrág</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>