<header>
	<div class="main-container">
		<div class="flex align-items-center mb-10">
			<a href="/" class="flex flex-33" id="icon-container">
					<img id="icon" src="assets/images/biker_transparent.png" alt="icon">
					<h1><span style="color:  #38A9E4">B</span>ringa <span style="color:  #38A9E4">B</span>olt</h1>
			</a>
			<div class="flex flex-33" id="search-box">
				<input type="text" placeholder="Keresés...">
				<button><fa-icon [fixedWidth]="true" [icon]="faSearch"></fa-icon></button>
			</div>
			<div class="flex flex-33 justify-content-end" id="user">
				<button id="login"><fa-icon [fixedWidth]="true" [icon]="faSignInAlt"></fa-icon>Belépés</button>
				<button id="register"><fa-icon [fixedWidth]="true" [icon]="faShoppingCart"></fa-icon>Kosár<span id="item-count"></span></button>
			</div>
		</div>
		<hr>
		<nav>
			<ul class="main-nav flex justify-content-between">
				<li>Kerékpár<fa-icon [fixedWidth]="true" [icon]="faCaretDown"></fa-icon>
					<ul class="sub-nav">
						<li><a href="./products/bikes/road">Országúti</a></li>
						<li><a href="./products/bikes/mtb">MTB</a></li>
						<li><a href="./products/bikes/kid">Gyerek</a></li>
					</ul>
				</li>
				<li>Alkatrész<fa-icon [fixedWidth]="true" [icon]="faCaretDown"></fa-icon>
					<ul class="sub-nav">
						<li><a href="./products/parts/tires">Külső gumi</a></li>
						<li><a href="./products/parts/chains">Lánc</a></li>
					</ul>
				</li>
				<li>Kiegészítő<fa-icon [fixedWidth]="true" [icon]="faCaretDown"></fa-icon>
					<ul class="sub-nav">
						<li><a href="./products/accessories/lights">Lámpa</a></li>
						<li><a href="./products/accessories/locks">Lakat</a></li>
						<li><a href="./products/accessories/pumps">Pumpa</a></li>
						<li><a href="./products/accessories/bags">Táska</a></li>
						<li><a href="./products/accessories/transport">Kerékpárszállító</a></li>
					</ul>
				</li>
				<li>Ruházat<fa-icon [fixedWidth]="true" [icon]="faCaretDown"></fa-icon>
					<ul class="sub-nav">
						<li><a href="./products/clothing/helmets">Sisak</a></li>
						<li><a href="./products/clothing/jerseys">Mez</a></li>
						<li><a href="./products/clothing/shorts">Nadrág</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>