<footer>
	<div class="flex justify-content-between main-container">
		<div id="contacts" class="flex-33">
			<ul>
				<li><b>Cím:</b> 3900, Szerencs, Erdei Ferenc utca 7.</li>
				<li><b>Nyitvatartás:</b> Hétfő-Péntek: 09:00-17:00</li>
				<li><b>Email:</b> adam2458hu@gmail.com</li>
				<li><b>Telefon:</b> +36309123882</li>
			</ul>
		</div>
		<div id="newsletter" class="flex-33">
			<div class="flex flex-column">
				<div class="mb-5">
					Iratkozz fel hírlevelünkre!
					<i class="fa fa-envelope fa-fw"></i>
				</div>
				<div id="newsletter-box" class="flex">
					<input type="text" placeholder="Email">
					<button>Feliratkozás</button>
				</div>
			</div>
		</div>
		<div id="links" class="flex-33 text-right">
			<ul>
				<li><a href="#">Adatvédelmi tájékoztató</a></li>
				<li><a href="#">Süti tájékoztató</a></li>
			</ul>
		</div>
	</div>
</footer>