@import '../../../variables';

#product-container {
	position: relative;

	#product-background {
		position: absolute;
		top: -3px;
		left: -3px;
		background-image: linear-gradient(to right,#eee,$color-light-blue,#ddd);
		box-shadow: 0 5px 5px rgba(0,0,0,0.4);
		border-radius: 10px;
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		z-index: -1;
	}

	#product {
		position: relative;
		background-color: white;
		border-radius: 10px;
		padding: 10px 10px 10px 30px;
		z-index: 100;

		#product-image-container {
			position: relative;
		}

		#product-image:hover {
			cursor: zoom-in;
		}

		#product-image-viewer-360-button {
			position: absolute;
			top: 0;
			left: 0;
			background-color: white;
			padding: 5px;
			z-index: 1;

			img {
				width: 60px;
				height: auto;
			}
		}

		#product-details {
			background-color: white;
			padding: 10px 50px;

			> div:not(:last-child) {
				margin-bottom:  15px;
			}

			#product-price {
				font-size: 32px;

				.discounted-original-price {
					text-decoration: line-through;
					color: #777;
					font-size: 16px;
					margin-left:5px;
				}

				.discounted-final-price {
					color: $color-red;
				}
			}

			.circle,.rectangle {
				cursor:  pointer;
				
				&:hover,&.active{
					border: 2px solid;
				}

				&:not(:first-child) {
					margin:  0 5px;
				}
			}

			.circle {
				border-radius: 50%;
				border: 1px solid #555;
				width:  40px;
				height: 40px;
			}

			.rectangle {
				background-color: #ddd;
				border: 2px solid #ddd;
				padding: 5px 10px;

				&.sold-out {
					background: linear-gradient(to left top, #ddd 47.75%, currentColor 49.5%, currentColor 50.5%, #ddd 52.25%);
				}
			}

			#availability {
				color:  $color-red;

				&.available {
					color:  #4caf50;
				}
			}

			#add-to-cart-block {
				input {
					background-color: #333;
					color: white;
					padding: 10px;
					width: 50px;
				}
				
				button {
					width: 200px;
					color:  white;
					font-size:  18px;
					font-weight: bold;
				}
			}
		}
	}
}