<div *ngIf="productDetailsReceived" id="product-container" class="main-container">
	<div id="product-background"></div>
	<div id="product" class="flex justify-content-between main-container">
		<div class="flex-50">
			<img id="product-image" src="{{ product.image }}" alt="{{ product.name }}" width="100%">
		</div>
		<div class="flex-50">
			<div id="product-details">
				<div>
					<div id="product-name" class="name">{{ product.name }}</div>
					<div id="product-price" class="price">{{ product.price }}</div>
				</div>
				<div>
					<div><fa-icon [fixedWidth]="true" [icon]="faTruck"></fa-icon>Ingyenes szállítás</div>
					<div><fa-icon [fixedWidth]="true" [icon]="faWrench"></fa-icon>Díjmentes üzembe helyezés</div>
					<div><fa-icon [fixedWidth]="true" [icon]="faMoneyBillWave"></fa-icon>Pénzvisszafizetési garancia</div>
				</div>
				<div class="flex flex-column">
					<div><b>Szín:</b></div>
					<div id="colors" class="flex">
						<!--<div class="circle color active"></div>-->
					</div>
				</div>
				<div class="flex flex-column">
					<div><b>Méret:</b></div>
					<div id="sizes" class="flex">
						<!--<div class="circle size-container">
							<div class="size">50</div>
						</div>
						<div class="circle size-container active">
							<div class="size">52</div>
						</div>
						<div class="circle size-container">
							<div class="size sold-out">54</div>
						</div>
						<div class="circle size-container">
							<div class="size sold-out">56</div>
						</div>-->
					</div>
				</div>
				<div><b>Elérhetőség: <span id="availability" class="available">Raktáron 2db</span></b></div>
				<div class="flex">
					<input id="order-quantity" type="number" value="1" min="1">
					<button id="add-to-cart-button" onclick="addToCart()">Kosárba</button>
				</div>
			</div>
		</div>
	</div>
</div>