$color-yellow: #F29818;
$color-blue: #38A9E4;
$color-light-blue: #1FDFF6;
$color-dark-blue: #206FFF;
$color-purple: #8613C1;
$color-pink: #E400DC;
$color-red: #E20352;
$color-green: #25DA91;
$color-orange: #FF4E00;
$asd: 20px;