@import './variables';

:root {
	--cart-preview-triangle-right-offset: 10px;
	--cart-preview-triangle-width: 18px;
	--progress-step-width: 50px;
	--progress-bar-initial-offset: -99.9%;
	--progress-bar-target-offset: 0%;
	--progress-bar-current-offset: -99.9%;
	--progress-bar-animation-duration: 500ms;
	--slider-thumb-width: 20px;
}

* {
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

body {
	background: linear-gradient(white 70%,#111) no-repeat center center fixed;
	font-family: 'Montserrat', sans-serif;
	-webkit-filter: blur(0.000001px);
	margin: 0;
}

main {
	padding: 50px 0;
}

h1,h2,h3,h4,h5 {
	margin: 0;
}

input[type="radio"],input[type="checkbox"] {
	margin-left: 0;
}

app-root {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	app-footer {
		margin-top: auto;
	}
}

app-cart-preview:hover #cart-preview{
	display: block;
}

ul {
	list-style-type: none;
	margin:  0;
	padding: 0;
}

img {
	vertical-align: middle;
}

a {
	color: black;
	text-decoration: none;
}

input, button {
	border:  none;
	outline: none;
}

button {
	cursor: pointer;
	font-weight: bold;

	&:hover {
		opacity: 0.8;
	}

	&.btn {
		border-radius: 10px;
		box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4);
		color:  white;
		font-size:  16px;
		padding: 10px 15px;
		transition: 0.2s;

		&:active {
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
			transform:  scale(0.95);
		}

		&.btn-yellow {
			background-color: $color-yellow;
		}

		&.btn-green {
			background-image: linear-gradient(to right,$color-light-blue,$color-green);
		}

		&.btn-grey {
			background-color: #333;
			color: white;
		}

		&.btn-purple {
			background-image: linear-gradient(to right,$color-red,$color-purple);
		color:  white;
		}

		&.btn-orange-gradient {
			background-image: linear-gradient(to right,#D74072,#FF415C);
		}

		&.btn-blue{
			background-image: linear-gradient(to right,$color-light-blue,$color-dark-blue);
			color:  white;

			#cart-item-count {
				margin-left: 5px;
			}
		}
	}
}

.mx-5 {
	margin-left:  5px;
	margin-right:  5px;
}

.mx-10 {
	margin-left:  10px;
	margin-right:  10px;
}

.mx-20 {
	margin-left:  20px;
	margin-right:  20px;
}

.my-5 {
	margin-top:  5px;
	margin-bottom:  5px;
}

.my-10 {
	margin-top:  10px;
	margin-bottom:  10px;
}

.my-20 {
	margin-top:  20px;
	margin-bottom:  20px;
}

.mb-5 {
	margin-bottom:  5px;
}

.mb-10 {
	margin-bottom:  10px;
}

.mb-20 {
	margin-bottom:  20px;
}

.mt-5 {
	margin-top:  5px;
}

.mt-10 {
	margin-top:  10px;
}

.mt-20 {
	margin-top:  20px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.m-0 {
	margin: 0;
}

.p-0 {
	padding: 0;
}

.p-5 {
	padding: 5px;
}

.p-10 {
	padding: 10px;
}

.pl-2 {
	padding-left: 2px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-2 {
	padding-right: 2px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-20 {
	padding-right: 20px;
}

.px-5 {
	padding-left:  5px;
	padding-right:  5px;
}

.px-10 {
	padding-left:  10px;
	padding-right:  10px;
}

.px-20 {
	padding-left:  20px;
	padding-right:  20px;
}

.py-5 {
	padding-top:  5px;
	padding-bottom:  5px;
}

.py-10 {
	padding-top:  10px;
	padding-bottom:  10px;
}

.py-20 {
	padding-top:  20px;
	padding-bottom:  20px;
}

.pb-5 {
	padding-bottom:  5px;
}

.pb-10 {
	padding-bottom:  10px;
}

.pb-20 {
	padding-bottom:  20px;
}

.pt-5 {
	padding-top:  5px;
}

.pt-10 {
	padding-top:  10px;
}

.pt-20 {
	padding-top:  20px;
}

.fs-18 {
	font-size: 18px;
}

.fs-14 {
	font-size: 14px;
}

.fs-12 {
	font-size: 12px;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	//overflow: hidden;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-1 {
	flex-grow: 1;
	flex-basis: 30%;
}

.flex-33 {
	flex: 33.3%;
	max-width: 33.3%;
}

.flex-33:first-child {
	padding-left: 0;
}

.flex-33:last-child {
	padding-right: 0;
}

.flex-90 {
	flex: 90%;
}

.flex-80 {
	flex: 80%;
}

.flex-70 {
	flex: 70%;
}

.flex-60 {
	flex: 60%;
}

.flex-50 {
	flex: 50%;
}

.flex-40 {
	flex: 40%;
}

.flex-30 {
	flex: 30%;
}

.flex-20 {
	flex: 20%;
}

.flex-10 {
	flex: 10%;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-between {
	align-items: space-between;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.top-0 {
	top: 0;
}

.bottom-0 {
	bottom: 0;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}

.top-50 {
	top: 50%;
}

.bottom-50 {
	bottom: 50%;
}

.left-50 {
	left: 50%;
}

.right-50 {
	right: 50%;
}

.translate-middle {
	transform: translate(-50%,-50%)
}

.translate-middle-x {
	transform: translateX(-50%)	
}

.translate-middle-y {
	transform: translateY(-50%)
}

.w-100 {
	width: 100%;
}

.red {
	color: red;
}

.alert {
	border-radius: 5px;
	padding: 10px;

	&.alert-red {
		background-color: red;
		color: white;
	}
}

fa-icon {
	margin-right: 2px;
}

.img-container {
	position: relative;
	display: flex;
	justify-content: center;

	img {
		position: absolute;
		object-fit: contain;
		/*max-height: 100%;
		max-width: 100%;
		height: auto;
		width: auto;*/
		height: 100%;
	} 

	fa-icon {
		position: absolute;
		object-fit: contain;
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			max-height: 100%;
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}

	#product-viewer-icon {
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		width: 40px;
		height: 40px;
		z-index: 998;
	}
}

.input-with-button-container {
	display: inline-flex;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.4);
	transition: 0.2s;

	&.shrink {
		transform:  scale(0.95);
		box-shadow: none;
	}

	button {
		border-radius: 0;
		box-shadow: none;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			transform:  none;
		}
	}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes slideInFromTop {
	from {transform: translateY(-100%)}
	to {transform: translateY(0)}
}

@keyframes slideInFromLeft {
	from {transform: translateX(-100%)}
	to {transform: translateX(0)}
}

@keyframes slideInFromRight {
	from {transform: translateX(100%)}
	to {transform: translateX(0)}
}

@keyframes scaleVertically {
	from {transform: scaleY(0)}
	to {transform: scaleY(1)}
}